<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">Dashboard</a>
        <a href="#">Login</a>
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main>
      <section class="blog-posts">
        <section class="card">
          <section class="card-header">
            <h3>This is the title of the post</h3>
            <p>posted by Username on 3/12/2023</p>
          </section>
          <section class="card-content">
            <p>
              this is the blog content. Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Adipisci, mollitia distinctio illo deserunt
              cupiditate modi pariatur accusamus perspiciatis perferendis eius
              voluptate at quos vitae dolorem voluptatibus hic unde porro
              explicabo.
            </p>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>