<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/Dashboard">Dashboard</a>
        {{#unless logged_in}}
          <a href="/login">Login</a>
        {{/unless}}
        {{#if logged_in}}
          <a href="" id="logout">Logout</a>
        {{/if}}
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main>
      {{{body}}}
    </main>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>