<section class="blog-posts">
  {{#each posts as |post|}}
    <section class="card" id="post-{{post.id}}">
      <section class="card-header">
        <h3>{{post.post_title}}</h3>
        <p></p>
      </section>
    </section>
  {{/each}}
</section>

<section class="add-new-post">
  <button class="comment-btn" id="add-post-btn" type="click">Add a new post</button>
</section>