<section class="login">
  <h4>Create new user</h4>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">sign up</button>
    </div>
  </form>

  <a href="/login" style="text-decoration: none; color:blueviolet">Click here if
    you already have an account</a>
</section>

<script src="/js/signup.js"></script>